.form {
    &__email-container {
        margin-top: 20px;
    }

    .email {
        display: flex;

        @media screen and (max-width: 910px) {
            flex-direction: column;
            gap: 10px;
        }

        &__label {
            font-weight: 400;
            font-size: 21px;
            line-height: 19px;
            margin-right: 30px;
        }

        &__container {
            display: flex;
            align-items: center;

            @media screen and (max-width: 576px) {
                flex-direction: column;
                align-items: flex-start;
            }
        }

        &__note {
            color: #999999;
            font-size: 12px;
            margin-left: 18px;

            @media screen and (max-width: 576px) {
                margin: 10px 0 0 0;
            }
        }

        &__input {
            display: flex;
            flex-direction: column;
        }

        &__field {
            padding: 6px 12px;
            border: 1px solid #999999;
            font-size: 16px;
            width: 335px;
            height: 31px;

            @media screen and (max-width: 375px) {
                width: 280px;
            }

            &_invalid {
                border: 1px solid #FF0000;
            }

            &_error {
                margin-top: 4px;
                font-size: 12px;
                color: #FF0000;
            }
        }

    }
}