.form {
    &__password-container {
        margin-top: 20px;
    }

    .password {
        &__initial {
            display: flex;

            @media screen and (max-width: 910px) {
                flex-direction: column;
                gap: 10px;
            }
        }

        &__label {
            font-weight: 400;
            font-size: 21px;
            line-height: 19px;
            margin-right: 151px;
        }

        &__label1 {
            font-weight: 400;
            font-size: 21px;
            line-height: 19px;
            margin-right: 66px;
        }

        &__initial-container {
            display: flex;
            align-items: center;

            @media screen and (max-width: 576px) {
                flex-direction: column;
                align-items: flex-start;
            }
        }

        &__first-note,
        &__second-note {
            display: inline-block;
            width: 340px;
            margin-left: 18px;
            font-size: 12px;
            color: #999;

            @media screen and (max-width: 576px) {
                margin: 10px 0 0 0;
            }
        }

        &__confirm {
            margin-top: 40px;
        }

        &__confirm-container {
            display: flex;
            align-items: center;

            @media screen and (max-width: 576px) {
                flex-direction: column;
                align-items: flex-start;
            }
        }

        &__field {
            display: block;
            padding: 6px 12px;
            border: 1px solid #999999;
            font-size: 16px;
            width: 335px;
            height: 31px;

            @media screen and (max-width: 375px) {
                width: 280px;
            }

            &_invalid {
                border: 1px solid #ff0000;
            }
        }

        &__error {
            margin-top: 4px;
            font-size: 12px;
            color: #ff0000;
        }
    }
}